html, body {
	margin:0;
	padding:0;
	font-family:Segoe UI, Arial, sans-serif;
	background-color:#444;
	color:#bbb;
	font-size:11px;
}
h1 {
	display:inline;
	margin-left:5px;
	color:#bbb;
	font-size:xx-large;
	font-weight:bolder;
	text-decoration:none;
}

/* Main table */
table {
	width:100%;
	border-collapse:collapse;
	text-align:right;
	line-height:1.8em;
	text-align:center;
	font-size:11px
}
table tr { height: 18px; }
table th { border-right:1px solid #333; }
table td { border-right:1px solid #888; }
table th:last-of-type,td:last-of-type { border-right:0 }
table thead tr { font-weight:bold; background:#bbb; color:black; }
table tbody tr { background: #111; cursor:pointer; }
table tbody tr.zebra { background: #222; }
table tbody tr.running { background: #141; }
table tbody tr.running.zebra { background: #353; }
table tbody tr.error { background: #311; }
table tbody tr.error.zebra { background: #433; }
table tbody tr.completed { background: #004; }
table tbody tr.completed.zebra { background: #006; }
table tbody tr.other { background: #404; }
table tbody tr.other.zebra { background: #606; }
table tbody tr:hover { background: #444; }
table tbody tr.zebra:hover { background: #444; }
.iconbtn { margin: 0 1px; }
.iconbtn:hover { opacity:0.6; }
table img { vertical-align:bottom; border:0; }
/* Gotta have rounded corners :-) */
table tr:first-child th:first-child { border-top-left-radius:5px }
table tr:first-child th:last-child { border-top-right-radius:5px }
table tr:last-child td:first-child { border-bottom-left-radius:5px }
table tr:last-child td:last-child { border-bottom-right-radius:5px }

#jobsTable .narrow1 { width:4%; }
#jobsTable .narrow2 { width:6%; }
#jobsTable .normalwidth { width:13%; }

/* Tab */
.ui-tabs .ui-tabs-panel {
	padding:20px 15px;
}

/* Header and footer */
#header, #footer {
	position:relative;
	left:1%;
	width:98%;
	padding:0.5em 0;
}
#autorefresh {
	text-align:right;
	float:right;
	margin-right:5px;
}
#toolbar { margin:0 0 7px 0; }

/* Dialog bits */
#helpdialog { text-align:center; }
.greybg { background:#111; padding:5px; }
.bluebg { background:#004; padding:5px; }
.greenbg { background:#141; padding:5px; }
.redbg  { background:#311; padding:5px; }
.purplebg  { background:#313; padding:5px; }
