.snowflake {
	position: absolute;
	text-align: center;
	z-index: 9999;
	top: -100px;
	width: 1em;
	height: 1em;
	color: white;
	font-size: 16px;
	text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
	/* We use the following properties to apply the fade and drop animations to each snowflake.
	   Each of these properties takes two values. These values respectively match a setting
	   for fade and drop.
	*/
	-webkit-animation-iteration-count: infinite, infinite;
	-webkit-animation-direction: normal, normal;
	-webkit-animation-timing-function: linear, ease-in;
}

.snowflake span {
	position: absolute;
	display: block;
	width: 1em;
	height: 1em;
	/* We use the following properties to adjust the clockwiseSpin or counterclockwiseSpin
	   animations on each snowflake.
	   The createASnowflake function determines whether a flake has the 
	   clockwiseSpin or counterclockwiseSpin animation.
	*/
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-origin: 50% -100%;

}

.snowflake.tiny {
	font-size: 0.5em;
}

.snowflake.small {
	font-size: 1em;
}

.snowflake.medium {
	font-size: 2em;
}

.snowflake.large {
	font-size: 3em;
}

.snowflake.massive {
	font-size: 7em;
}

/* Hides a snowflake towards the very end of the animation */
@-webkit-keyframes fade {
	/* Show a snowflake while into or below 85 percent of the animation and hide it, otherwise */
	0%   { opacity: 1; }
	85%  { opacity: 1; }
	100% { opacity: 0; }
}

/* Makes a snowflake fall from -50px to 1200px pixels in the y-axis */
@-webkit-keyframes drop {
	0%   { -webkit-transform: translate(0px, -50px); }
	100% { -webkit-transform: translate(0px, 900px); }
}

/* Rotates a snowflake from -50 to 50 degrees in 2D space */
@-webkit-keyframes clockwiseSpin {
	0%   { -webkit-transform: rotate(-50deg); }
	100% { -webkit-transform: rotate(50deg); }
}


/* Rotates it from 50 to -50 degrees in 2D space */
@-webkit-keyframes counterclockwiseSpin  {
	0%   { -webkit-transform: rotate(50deg); }
	100% { -webkit-transform: rotate(-50deg); }
}
